setInterval(function() {
html
  head
    title= title
  body
    form(method="post" action="/")
      label(for="movies") Film
      input(type="text" name="movies")
      button Sänd
    ul
      each movieList in lista
        li= movieList
  }, 500);
