/* Generall:
Information: The measurement is 1/4 of its original size and converted into px */
body {
  background-color: white;
  font-size: 16px;
  font-family: arial, "Times New Roman";
  color: black;
  margin: 0px 0 0 50px;
}
/* *{
  border: 1px solid red;
} */

/* Common style rouls =============================================================== */
:root{
  --color-darkgrey--: rgb(169,169,169);
}
.sectionLeft1_2Container{
  width: 15%;
}

/* CSS Roules for Top 5 and section 5:1 and 5:6
 * This fix the diagonal top corners */

#section5_1TopCorner:before{
  content: "";
  position: absolute;
  border-top: 65px solid white;
  border-right: 200px solid transparent;
}

#section5_6TopCorner:before{
  content: "";
  position: absolute;
  right: 0;
  border-top: 65px solid white;
  border-left: 200px solid transparent;
}
/* CSS roule for fix the white line at the rotary spdf */
#rotarySpdt:before {
  display: block;
  content: "";
  width: 2px;
  height: 40px;
  background: #FFF;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.12);
  margin: 5px auto;
  margin-top: -25px;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
}
/* CSS roule for fix the animation for the rotary Encorder */
/* @keyframes spin {
  from {transform: rotate(0deg); }
  to {transform: rotate(-360deg);}
}
 */


/* /* Switches ===========================================================================
Overall */

.vs1_1_p1{
  position: relative;
  top: 5%;
  left: 2%;
}


/* ======================== Main app atyle ======================== */



.connectionFsPart{
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
}
.statusHeadLine{
  line-height: 50px;
}
.connectionElecb{
  display: flex;
  flex-direction: row;
}

.selected {
background: radial-gradient(center , ellipse cover, #FFF 0% , #03F0C1 80% , #1DAEE6 100%);
box-shadow: inset 0 1px 1px 0 #FFF ,inset 0 -1px 1px 0 #FFF , 0 0 2px 1px #74F9FF;
border: solid 1px #05D6B5;
}


.switch-container {
border-radius: 50%;
position: relative;
width: 50px;
height: 50px;
background: linear-gradient(#585858,#8F8F8F 70%, #DBDBDB);
/* linear-gradient(#ECE9E9,#CACACA 30%, #F4F4F4, #535353 153%); */
}

.switch {
border-radius: 50%;
position: absolute;
left: 7px;
top: 7px;
bottom: 7px;
right: 7px;
margin: 0px;
background: linear-gradient(90deg,#636068,#242424 43%, #474747 44%, #474747 56%, #7A7A7A 57%, #5a5a5a 68%);
box-shadow: inset 0 1px 1px 1px #39373C, 0 0 1px 1px #69696A;
border: solid 1px #7E7E7E;
transition: .5s;
}


  /* from {transform: scale(100%);}
  to {transform: scale(50%);} */ 