/* Generall:
Information: The measurement is 1/4 of its original size and converted into px */
body {
  background-color: white;
  font-size: 16px;
  font-family: arial, "Times New Roman";
  color: black;
  margin: 0px 0 0 0;
}
.outerFrame{
  width: 2000px;
}
.mainHeadLine{
  font-size: 2em;
  text-align: center;
  margin-top: 0;
  margin-bottom: -4px
}
/* Common style rouls =============================================================== */
:root{
  --color-darkgrey--: rgb(169,169,169);
}
.sectionLeft1_2Container{
  width: 15%;
}

/* CSS Roules fo Top 5 and Sections 5:1 and 5:6
 * This fix the diagonal top corners */

#section5_1TopCorner:before{
  content: "";
  position: absolute;
  border-top: 65px solid white;
  border-right: 200px solid transparent;
}

#section5_6TopCorner:before{
  content: "";
  position: absolute;
  right: 0;
  border-top: 65px solid white;
  border-left: 200px solid transparent;
}
/* ================================================================ */
/* Övre nivå 4 */


/* /* Switches ===========================================================================
Overall */

.vs1_1_p1{
  position: relative;
  top: 5%;
  left: 2%;
}


/* ======================== Main app atyle ======================== */



.connectionFsPart{
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  border: 1px solid white;
}
.statusHeadLine{
  line-height: 50px;
}
.connectionElecb{
  display: flex;
  flex-direction: row;
}